body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #bbe65f; 
    color: #6c840c; 
}




h2 {
    text-align: left;
}

.foto-planetín {
    display: flex;
    align-items: center;
}

img {
    margin-right: 20px; 
}

.primer-chat{
    text-align: center;
    background-color: #f5ffe0; /* Fondo blanco para el cuadro de texto */
    padding: 25px;
    color:#25a687
}

img {
    margin-left: 20px;
}

.foto-chat {
    display: flex;
}

.foto-planetin-2 {
    margin-right: 20px;
}


.segundo-chat{
    text-align: center;
    background-color: #f5ffe0; /* Fondo blanco para el cuadro de texto */
    padding: 25px;
    color:#25a687
}


#footer {
    background-color: #fff; 
    padding: 10px;
    text-align: center;
    color: #6c840c; 
}


.grafico-container {
width: calc(33.33% - 20px); /* 33.33% para tres cuadrados, y 20px de margen entre ellos */
margin: 10px; /* Espaciado entre los cuadrados */
float: left; /* Alineación en línea */
}


.grafico-container iframe {
width: 100%;
height: 600px; /* Ajusta la altura según tus necesidades */
border: 0; /* Elimina el borde del iframe */
}


.grafico-container2 {
width: calc(50% - 20px); /* 33.33% para tres cuadrados, y 20px de margen entre ellos */
margin: 10px; /* Espaciado entre los cuadrados */
float: left; /* Alineación en línea */
}


.grafico-container2 iframe {
width: 100%;
height: 600px; /* Ajusta la altura según tus necesidades */
border: 0; /* Elimina el borde del iframe */
}


.grafico-container3 {
width: calc(50% - 20px); /* 33.33% para tres cuadrados, y 20px de margen entre ellos */
margin: 10px; /* Espaciado entre los cuadrados */
float: left; /* Alineación en línea */
}


.grafico-container3 iframe {
width: 100%;
height: 600px; /* Ajusta la altura según tus necesidades */
border: 0; /* Elimina el borde del iframe */
}
